{% set mainTitle = 'Magasins' %}
{% extends 'dashboard/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    {% set current_path = app.request.get('_route') %}

    {% set direction = ('asc' == pagination.direction ? 'desc' : 'asc') %}

    {% set sortClass = ('asc' == pagination.direction ? 'fal fa-sort-amount-up-alt' : 'fal fa-sort-amount-down-alt') %}

    <div class="-my-2 py-2 sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
                <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        {{ knp_pagination_sortable(pagination, 'Magasin', 'a.store', {}, {'direction': direction}) }}
                        {% if pagination.isSorted('a.store') %} <i class="{{ sortClass }}"></i>{% endif %}
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Id Magasin
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        {{ knp_pagination_sortable(pagination, 'Nom magasin', 'a.storeName', {}, {'direction': direction}) }}
                        {% if pagination.isSorted('a.storeName') %} <i class="{{ sortClass }}"></i>{% endif %}
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        {{ knp_pagination_sortable(pagination, 'Dernier check', 'a.lastCheck', {}, {'direction': direction}) }}
                        {% if pagination.isSorted('a.lastCheck') %} <i class="{{ sortClass }}"></i>{% endif %}
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        {{ knp_pagination_sortable(pagination, 'Places disponibles', 'a.slotOpen', {}, {'direction': direction}) }}
                        {% if pagination.isSorted('a.slotOpen') %} <i class="{{ sortClass }}"></i>{% endif %}
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        {{ knp_pagination_sortable(pagination, 'Disponibilité', 'a.disponibility', {}, {'direction': direction}) }}
                        {% if pagination.isSorted('a.disponibility') %} <i class="{{ sortClass }}"></i>{% endif %}
                    </th>
                    <th class="text-right px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for store in pagination %}
                    <tr class="{% if store.slotOpen %}bg-green-400{% else %}bg-red-500{% endif %}">
                        <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                            <a href="{{ path('dashboard_store', {store: store.id}) }}" style="text-decoration:underline">{{ store.store }}</a>
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            {{ store.storeId }}
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            {{ store.storeName }}
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            {% if store.lastCheck %}
                            {{ store.lastCheck|date("d/m/Y H:i:s") }}
                            {% else %}
                                Pas encore
                            {% endif %}
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            {% if store.slotOpen %}
                                oui
                            {% else %}
                                non
                            {% endif %}
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-900">
                            {{ store.disponibility  }}
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                            <div @click.away="open_action_{{ store.id }} = false" class="ml-3 relative" x-data="{open_action_{{ store.id }}: false}">
                                <div>
                                    <a @click="open_action_{{ store.id }} = !open_action_{{ store.id }}" class="cursor-pointer inline-flex items-center px-2 py-1 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                                        Actions
                                    </a>
                                </div>
                                <div x-show="open_action_{{ store.id }}" class="origin-top-left text-left absolute right-0 w-48 rounded-md shadow-lg z-40">
                                    <div class="py-1 rounded-md bg-white shadow-xs">
                                        <a href="{{ path('dashboard_copy_action', { 'action': store.id}) }}"
                                           class="block px-2 py-1 text-sm bg-white hover:bg-gray-100">Surveiller ce magasin</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# display navigation #}
    <div class="navigation mt-6">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/confirm.js') }}" defer></script>
{% endblock %}
